* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: none;

    font: inherit;
    background: none;
    color: inherit;
}

body {
    font-family: "Atkinson Hyperlegible Next", sans-serif;

    background: oklch(0.3 0.03 250);
    color: oklch(1 0 0);
}