* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: none;

    font: inherit;
    background: none;
    color: inherit;
}

:root {
    --bg-col: oklch(0.3 0.03 250);
    --cyan-1: oklch(0.5 0.03 230 / 0.5);
}

body {
    font-family: "Atkinson Hyperlegible Next", sans-serif;

    background: var(--bg-col);
    color: oklch(1 0 0);
}